.trigger
{
    cursor: pointer;
}

.trigger:hover
{
    cursor: pointer;
    background-color: #336699;
}

.expanded
{
    cursor: pointer;
}

.expanded:hover
{
    cursor: pointer;
    background-color: #336699;
}

.show
{
    position: static;
}

.hide
{
    position: absolute;
    left: -999em;
    height: 1px;
    width: 100px;
    overflow: hidden;
}

h2 img, h3 img, h4 img
{
    border: none;
    padding-right: .5em;
}

a img
{
    border-style: none;
    color: #FFFFFF;
}