/* CSS Created by McoreD for TreeGUI 2.0
  * CSS Level 2.1
  * Version 1.3
  */

body
{
    font-family: Georgia, "Times New Roman" , Times, serif;
    background-color: #CCCCCC;
}

img
{
    border-style: none;
}

a:link
{
    font-weight: bold;
    text-decoration: none;
    color: green;
}

/* Already Visited Links */
a:visited
{
    font-weight: normal;
    text-decoration: none;
    color: #777777;
}
a:hover, a:active
{
    text-decoration: none;
    background-color: #FFFF00;
    color: black;
}

/* Heading 1*/
h1
{
    color: white; /*#7D775C;*/
    text-align: center;
    font-style: italic;
    font-family: Georgia, "Times New Roman" , Times, serif;
    background-color: green;
}
/* Heading 2*/
h2
{
    color: #880000;
    font-style: italic;
    font-family: Georgia, "Times New Roman" , Times, serif;
    background-color: #FFCC33;
}
/* Heading 3*/
h3
{
    color: #555555;
    font-family: Georgia, "Times New Roman" , Times, serif;
    background-color: #DDDDDD;
    text-indent: 3em;
}

/* Heading 4*/
h4
{
    color: #555555;
    font-family: Georgia, "Times New Roman" , Times, serif;
    background-color: #CCFF99;
    text-indent: 5em;
}

.audioinfo
{
    color: #2F4F4F;
}

.filesize
{
    color: Blue;
}

.foldercount
{
    float: right;
}